<h1>Stupid Coaching</h1>
<p><%= @ask %></p>
<p><em>-You</em></p>
<br>
<div class="answer">
  <p id="answer"><%= @answer %></p>
  <p><em>- Your coach</em></p>
</div>
<%= link_to "Ask a new question", ask_path %>
